// FS Elliot Pro
@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/FSElliotPro-Light.eot');
    src: local('FS Elliot Pro Light'), local('FSElliotPro-Light'),
        url('../fonts/FSElliotPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSElliotPro-Light.woff2') format('woff2'),
        url('../fonts/FSElliotPro-Light.woff') format('woff'),
        url('../fonts/FSElliotPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/FSElliotPro-Heavy.eot');
    src: local('FS Elliot Pro Heavy'), local('FSElliotPro-Heavy'),
        url('../fonts/FSElliotPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSElliotPro-Heavy.woff2') format('woff2'),
        url('../fonts/FSElliotPro-Heavy.woff') format('woff'),
        url('../fonts/FSElliotPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/FSElliotPro.eot');
    src: local('FS Elliot Pro'), local('FSElliotPro'),
        url('../fonts/FSElliotPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSElliotPro.woff2') format('woff2'),
        url('../fonts/FSElliotPro.woff') format('woff'),
        url('../fonts/FSElliotPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/FSElliotPro-Bold.eot');
    src: local('FS Elliot Pro Bold'), local('FSElliotPro-Bold'),
        url('../fonts/FSElliotPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSElliotPro-Bold.woff2') format('woff2'),
        url('../fonts/FSElliotPro-Bold.woff') format('woff'),
        url('../fonts/FSElliotPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
// Lisboa
@font-face {
    font-family: 'Lisboa';
    src: url('../fonts/LisboaHeavy.eot');
    src: local('Lisboa Heavy'), local('LisboaHeavy'),
        url('../fonts/LisboaHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LisboaHeavy.woff2') format('woff2'),
        url('../fonts/LisboaHeavy.woff') format('woff'),
        url('../fonts/LisboaHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lisboa';
    src: url('../fonts/Lisboa-Bold.eot');
    src: local('Lisboa Bold'), local('Lisboa-Bold'),
        url('../fonts/Lisboa-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lisboa-Bold.woff2') format('woff2'),
        url('../fonts/Lisboa-Bold.woff') format('woff'),
        url('../fonts/Lisboa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}