.footer {
    background-color: #000000;
    &__header {
        display: none;
        @media (max-width: $md2) {
            display: block;
        }
        .footer__container {
            padding: 0 rem($containerPadding);
            padding-top: rem(50);
            height: rem(56);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__content {
        .footer__container {
            padding: rem(50) rem($containerPadding);
        }
        border-bottom: rem(1) solid $gray3;
        .footer__menu {
            display: grid;
            gap: rem(60);
            grid-template-columns: repeat(auto-fill, minmax(rem(175), 1fr));
            .menu {
                &__item {
                    .item {
                        &__list {
                            display: flex;
                            flex-direction: column;
                            gap: rem(10);
                        }
                        &__title {
                            font-family: 'FS Elliot Pro';
                            font-style: normal;
                            font-weight: bold;
                            font-size: rem(12);
                            line-height: rem(16);
                            letter-spacing: .2em;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            white-space: nowrap;
                        }
                        &__link {
                            white-space: nowrap;
                            font-family: 'FS Elliot Pro';
                            font-style: normal;
                            font-weight: 400;
                            font-size: rem(12);
                            line-height: rem(16);
                            letter-spacing: rem(0.2);
                            color: #FFFFFF;
                            opacity: .7;
                            transition: opacity ease .2s;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    &__footer {
        .footer__container {
            padding: 0 rem($containerPadding);
            height: rem(56);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__left, &__right {
        display: flex;
        align-items: center;
        gap: rem(50);
    }
    &__link, &__link:visited {
        font-family: 'FS Elliot Pro';
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(15);
        color: $gray2;
        order: 2;
    }
    &__logo {
        font-family: 'FS Elliot Pro';
        font-style: normal;
        font-weight: bold;
        font-size: rem(14);
        line-height: rem(15);
        color: $white;
    }
    &__links {
        display: flex;
        align-items: center;
        gap: rem(16);
    }
}