@use 'sass:math';
@import "base/null.scss";
@import "base/functions.scss";
@import "base/mixins.scss";

// Variables
$containerMaxWidth: 1100px;
$containerPadding: 30px;
$fontSize: rem(16);

// Breakpoints
$md1: em($containerMaxWidth + $containerPadding);
$md2: em(991.98);
$md3: em(767.98);
$md4: em(479.98);

// Fonts
@import "base/fonts.scss";
// Colors
$mainColor: #fff;

body {
    background-color: $mainColor;
    font-size: $fontSize;
    font-family: 'Lisboa';
    font-weight: bold;
}

// Container
[class*='__container'] {
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding: $containerPadding;
    @media (max-width: $md1) {
        max-width: 970px;
    }
    @media (max-width: $md2) {
        max-width: 750px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 15px;
    }
}

@import "_header.scss";
@import "main.scss";
@import "_footer.scss";
@import "_icons.scss";

// Plugins
//@import "base/accordions.scss";
//@import "base/modals.scss";
//@import "base/ranges.scss";
//@import "base/rating.scss";